// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

#artist-page{

}

#artist-data
{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 100px;

	*
	{
		margin: auto;
	}
	

	.artist-name
	{
		margin-bottom: 25px;
	}
}

#artist-releases
{
	width: 100%;
}

@media all and (max-width: 1170px)
{

}
@media all and (max-width: 980px)
{

}

@media all and (max-width: 768px)
{

}

@media all and (max-width: 480px)
{

}

@media all and (max-width: 320px)
{

}