// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

#baseline
{
	margin-top: 175px;
}

#top-40
{
	margin-top: 200px;
}


@media all and (max-width: 480px)
{
	#baseline
	{
		margin-top: 280px;
	}
}