// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


button
{
	background: $light-gray;
	background-image: linear-gradient(to top, black 0%, black 100%);;
	background-position: center top; 
	background-size: 100% 0%;
	background-repeat:no-repeat;
	transition: background-size .3s, color .3s ease-in;
	cursor: pointer;
	border: 1px solid $black;
	font-size: 12pt;

	&:hover
	{
		color: $white;
		background-size: 100% 100%;
	}
}