// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer
{
	padding-top: 100px;
	padding-bottom: 20px;

	p
	{
		font-size: 10pt;
		text-align: center;
	}
}