// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header
{
	padding-top: 25px;
	margin-bottom: 75px;
	position: relative;

	ul
	{
		display: flex;

		//logo
		li:first-of-type
		{
			margin: auto;

			a
			{
				img
				{
					width: 400px;
				    position: absolute;
				    left: 0;
				    right: 0;
				    margin: auto;
				}
			}
		}

		//btn favorites
		li:last-of-type
		{
			margin: auto;

			a
			{
			    position: absolute;
			    right: 0;
			    margin: auto;
			    border: 1px solid $black;
    			padding: 8px 8px 7px 8px;
    			font-weight: 600;
    			color: $black;
    			background: white;
				background-image: linear-gradient(to top, black 0%, black 100%);;
				background-position: center top; 
				background-size: 100% 0%;
				background-repeat:no-repeat;
				transition: background-size .3s, color .3s ease-in;

				&:hover
				{
					color: $white;
					background-size: 100% 100%;
				}
			}
		}
	}
}


@media all and (max-width: 1170px)
{

}

@media all and (max-width: 980px)
{

}

@media all and (max-width: 768px)
{
	header
	{
		ul
		{
			li:first-of-type
			{
				a
				{
					img
					{
						width: 300px;
					    right: auto;
					}
				}
			}
		}
	}
}

@media all and (max-width: 480px)
{
	header
	{
		ul
		{
			li:first-of-type
			{
				a
				{
					img
					{
						width: 260px;
					    right: 0;
					}
				}
			}
			li:last-of-type
			{
				margin: auto;

				a
				{
				    left: 0;
				    top: 120px;
				    text-align: center;
					width: 100px;
				}
			}
		}
	}
}

@media all and (max-width: 320px)
{
	header
	{
		ul
		{
			li:first-of-type
			{
				a
				{
					img
					{
						width: 200px;
					}
				}
			}
		}
	}
}