.top-40-container
{
	div
	{
		div
		{
			padding-left: 15px;
		}
		// position
		div:nth-child(1) 
		{
			width: 3%;
		}
		// artwork
		div:nth-child(2) 
		{
			width: 10%;
		}
		// artist(s)
		div:nth-child(3) 
		{
			width: 33%;
			flex-flow: wrap;
			
			// enlèves le " -" sur le dernier artiste
			&>p:last-of-type
			{
				display: none;
			}
		}
		// track name
		div:nth-child(4) 
		{
			width: 32%;
		}
		//release date
		div:nth-child(5) 
		{
			width: 12%;
		}
		//button
		div:nth-child(6) 
		{
			width: 10%;

			form
			{
				width: 80%;
			}
		}

		button
		{
			padding-left: 5px;
			padding-right: 5px;
			font-size: 13px;
			padding-top: 2px;
		}
	}
}

#top-40
{
	.top-40-description
	{
		margin-bottom: 50px;
		margin-top: 20px;
	}
}

@media all and (max-width: 1170px)
{
	.top-40-container
	{
		div
		{		
			// position
			div:nth-child(1) 
			{
				width: 3%;
			}
			// artwork
			div:nth-child(2) 
			{
				width: 12%;
			}
			//artist(s)
			div:nth-child(3) 
			{
				width: 31%;
			}
			// track name
			div:nth-child(4) 
			{
				width: 31%;
			}
			//release date
			div:nth-child(5) 
			{
				width: 12%;
			}
			//button
			div:nth-child(6) 
			{
				width: 11%;
			}
		}
	}
}

@media all and (max-width: 980px)
{
	.top-40-container
	{
		div
		{		
			// position
			div:nth-child(1) 
			{
				width: 3%;
			}
			// artwork
			div:nth-child(2) 
			{
				width: 14%;
			}
			//artist(s)
			div:nth-child(3) 
			{
				width: 29%;
			}
			// track name
			div:nth-child(4) 
			{
				width: 30%;
			}
			//release date
			div:nth-child(5) 
			{
				width: 16%;
			}
			//button
			div:nth-child(6) 
			{
				width: 12%;
			}
		}
	}
}

@media all and (max-width: 768px)
{
	.top-40-container div .dn-tablet
	{
		display: none;
	}

	.top-40-container
	{
		img
		{
			width: 60px;
		}

		div
		{
			div
			{
				padding-left: 10px;
			}

			// position
			div:nth-child(1) 
			{
				width: 8%;
				padding-left: 5px;
			}
			// artwork
			div:nth-child(2) 
			{
				width: 17%;
			}
			//artist(s)
			div:nth-child(3) 
			{
				width: 32%;
			}
			// track name
			div:nth-child(4) 
			{
				width: 32%;
			}
			//release date
			div:nth-child(5) 
			{
				width: 0%;
			}
			//button
			div:nth-child(6) 
			{
				width: 15%;
			}

			button
			{
				padding-left: 1px;
				padding-right: 1px;
				font-size: 12px;
				padding-top: 2px;
			}
		}
	}
}

@media all and (max-width: 480px)
{
	.top-40-container
	{
		div
		{

			div:nth-child(1) 
			{
				width: 8%;
				padding-left: 5px;
			}
			div:nth-child(2) 
			{
				width: 36%;
			}
			div:nth-child(3) 
			{
				width: 36%;
			}
			div:nth-child(6) 
			{
				width: 20%;
			}
		}
	}
}